<section class="container py-6 my-8 component my-md-16 py-md-16">
    <div class="alert alert-info" role="alert">
        <strong>{{ 'Info / Anmerkung:'|t }}</strong><br>
        {{ 'Entwickler: Komponente "' ~ component.type|kebab ~ '" noch nicht umgesetzt' }}
    </div>
</section>