{# default footer include #}
<footer class="mt-auto bg-neutral-800">
    <div class="px-6 py-8 mx-auto overflow-hidden max-w-7xl lg:px-8">
        <nav class="columns-2 sm:flex sm:justify-center" aria-label="Footer">
            <div class="pb-2">
                <a href="https://github.com/SFOE-Hackathons/GovTechHackathon2023-DashboardLadestationenElektroautos" class="text-sm leading-6 text-neutral-300 hover:white">Impressum</a>
            </div>
        </nav>
        <p class="text-xs leading-5 text-center text-gray-500">2023 GovTech Hackathon | made with ❤️ and open data from <a class="underline text-neutral-400" href="https://opendata.ch/de/">Opendata.ch</a></p>
    </div>
</footer>